.info {
  border-radius: 10px;
}

.user-info strong {
    display: block;
    font-size: 18px;
    color: #333;
  }

  .user-info span {
    font-size: 16px;
    color: #999;
    margin-top: 2px;
  }
  
  p {
    color: rgb(17, 1, 1);
    font-size: 36px;
    line-height: 20px;
    text-align: right;
    margin-right: 70px;
  }


