#app {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;
}

main {
    flex: 1;
  }
  
  main ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    list-style: none;
  }
  
  @media (max-width: 650px) {
    main ul {
      grid-template-columns: 1fr;
    }
  }